{include file="Public/header" /}
{include file="Public/auto" /}
<section class="feature_slider_area">
    <div class="container">
        <div class="row feature_row">
            <div class="feature_slider_inner owl-carousel">
                <div class="item">
                    <div class="feature_s_item">
                        <img alt="" class="svg social-link" src="__INDEX_IMG__/icon/svg/product.svg" />
                        <a href="#">
                            <h4>绿色环保</h4>
                        </a>
                        <p>循环利用的包装箱可大幅降低纸箱带来的污染，保护生态环境，践行做绿色环保先行者的承诺。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="feature_s_item">
                        <img alt="" class="svg social-link" src="__INDEX_IMG__/icon/svg/box.svg" />
                        <a href="#">
                            <h4>质优价廉</h4>
                        </a>
                        <p>产品经多次循环降低成本，通过优化回收系统来提升循环次数，循环次数越多公司盈利能力越强，实现多方共赢。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="feature_s_item">
                        <img alt="" class="svg social-link" src="__INDEX_IMG__/icon/svg/bag.svg" />
                        <a href="#">
                            <h4>安全可靠</h4>
                        </a>
                        <p>产品采用特殊材料，轻便、耐用、耐腐蚀，且具有特殊构造，保证了包装的安全性和私密性。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main_feature_area">
    <div class="left_feature_content">
        <div class="left_feature_inner_text">
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/send.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>产品介绍</h4>
                    </a>
                    <p>产品介绍 产品介绍 产品介绍 产品介绍 产品介绍 产品介绍 产品介绍 产品介绍</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/query.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>网点查询</h4>
                    </a>
                    <p>网点查询 网点查询 网点查询 网点查询 网点查询 网点查询 网点查询 网点查询</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/message.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>公司动态</h4>
                    </a>
                    <p>最新消息 最新消息 最新消息 最新消息 最新消息 最新消息 最新消息 最新消息</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/gift.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>优惠礼品</h4>
                    </a>
                    <p>优惠礼品 优惠礼品 优惠礼品 优惠礼品 优惠礼品 优惠礼品 优惠礼品 优惠礼品</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/help.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>人工客服</h4>
                    </a>
                    <p>人工客服 人工客服 人工客服 人工客服 人工客服 人工客服 人工客服 人工客服</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="social-link" src="__INDEX_IMG__/icon/my.png" alt="" />
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4>个人中心</h4>
                    </a>
                    <p>个人中心 个人中心 个人中心 个人中心 个人中心 个人中心 个人中心 个人中心</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right_feature_image">
        <img src="__INDEX_IMG__/feature-right.jpg" alt="">
    </div>
</section>

<div class="idea">
    <div class="container">
        <div class="idea-main">
            <div class="idea-top">
                <div class="col-md-5 idea-left id-left">
                    <img src="__INDEX_IMG__/rebox.jpg" style="width: 100%" alt="" />
                </div>
                <div class="col-md-7 idea-right id-right">
                    <h3>绿色快递包装盒</h3>
                    <p>新型快递包装箱的整体设计结构为拼接结构，一个新型快递包装箱一般由6个拼接板拼接而成。各个拼接板的大小由其是由几个拼接单元组成决定。每个拼接单元都由主板和副翼。其中，主板正面设有凸扣和保护层，背面也设有凸扣；副翼是可摆动的，正反面也都设有凹扣。</p>
                    <div class="i-btn">
                        <a href="javascript:void(0)" onclick="changeTags('projects')">查看详情</a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="idea-top">
                <div class="col-md-7 idea-right id-one-left">
                    <h3>绿色快递包装袋</h3>
                    <p>新型快递包装袋在普通购物袋的基础上，将塑料袋主体的一侧延伸至提手顶端处，以便于在另一侧用快递单进行封口。在提手处用易撕线封口，用于保护物品的私密性，在进行二次利用时可沿此线撕开作为提手，简单便捷。为实现循环利用，袋子主体使用强度韧性较高的材质pe聚乙烯，主体延伸以及封口处周围使用耐磨塑料PVC，保证多次粘取不易损坏。</p>
                    <div class="i-btn">
                        <a href="javascript:void(0)" onclick="changeTags('projects')">查看详情</a>
                    </div>
                </div>
                <div class="col-md-5 idea-left id-one-right">
                    <img src="__INDEX_IMG__/rebag.png" style="width: 100%" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

 <section class="gallery_area">
    <div class="container">
        <div class="col-md-7">
            <div class="left_gallery_area">
                <h3 class="single_title">风采展示</h3>
                <div class="l_gallery_inner zoom-gallery">
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-1.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-2.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-3.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-4.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-5.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="l_gallery_item">
                        <a href="__INDEX_IMG__/gallery/gallery-big-6.jpg">
                            <img src="__INDEX_IMG__/gallery/gallery-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="right_faq_area">
                <h3 class="single_title">常见问题</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    问题1？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                答案1
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    问题2？
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                答案2
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    问题3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                答案3
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    问题4
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                            <div class="panel-body">
                                答案4
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    问题5
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                            <div class="panel-body">
                                答案5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{include file="Public/footer" /}
{include file="Public/source" /}
</body>
</html>
