{include file="Public/header" /}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>关于我们</h3>
        </div>
        <div class="pull-right">
            <a href="__INDEX__/Index/index">主页</a>
            <a href="__INDEX__/Index/aboutUs">关于我们</a>
        </div>
    </div>
</section>

<section class="our_about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="our_about_image">
                    <img src="__INDEX_IMG__/about-right-1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="our_about_left_content">
                    <h3 class="single_title">关于我们</h3>
                    <p>日益繁荣的电商经济，爆炸式的快递增长，却带来了难以解决的包装垃圾污染，正悄无声息地危害着人们的生活与健康。幸好，有这样一群人在努力着。</p>
                    <p>他们，来自于不同专业，五湖四海，只因同一个目标而相聚，从此一起斩破风浪，勇敢起航。环保快递之路上，他们仰望星空，大胆想象。亦脚踏实地，扎实苦干。一步一脚印，终于走到了今天。他们，就是华电新型绿色快递包装项目组。
                        项目开展以来，小组成员先后赴安徽、河北等多地进行实地调研，掌握了丰富的一线资料，对全国的快递包装现状有了深刻的认识。</p>
                    <p>在稳固的实践基础下，他们精确把握社会热点，创新改进快递包装，配套设计回收系统，为目前亟待解决的快递包装污染难题，提供了切实可行的新思路。
                        无数次头脑风暴的团队会议，无数个并肩作战修改设计的深夜，让他们得以坚持下来的，是要以创造颠覆快递污染现状的决心，更是节能减排精神的不断激励。</p>
                    <p>未来，他们依然会怀抱初心，继续前进。开启环保快递新时代，他们已在路上！</p>
                </div>
            </div>
        </div>
    </div>
</section>

{include file="Public/footer" /}
{include file="Public/source" /}
</body>
</html>
