{include file="Public/header" /}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>使用记录</h3>
        </div>
        <div class="pull-right">
            <a href="__INDEX__/Index/index">主页</a>
            <a href="__INDEX__/User/showUseRecord">使用记录</a>
        </div>
    </div>
</section>

<table class="table table-striped">
    <caption style="text-align: center;"><h2><span style="color: blue;">{$Request.session.reboxName}</span>的使用记录</h2></caption>
    <tr>
        <th>使用记录号</th>
        <th>使用箱子号</th>
        <th>当前状态</th>
        <th>时间</th>
    </tr>
    {volist name="data" id="vo"}
    <tr>
        <td>{$vo.useRecord_id}</td>
        <td>{$vo.useRecord_boxId}</td>
        {if condition="$vo.useRecord_state eq 0"}
        <td>配送中</td>
        {else/}
        <td>已完成</td>
        {/if}
        <td>{$vo.useRecord_time}</td>
    </tr>
    {/volist}


</table>
<div>{$data->render()}</div>



{include file="Public/footer" /}
{include file="Public/source" /}
