<footer class="footer_area">
    <div class="footer_widget_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget about_widget">
                        <div id="logoimg"><img src="__INDEX_IMG__/footLogo.png">
                            <p>基于节能减排，实现绿色行动。每年可减少排放二氧化碳等气体50%。基于节能减排，实现绿色行动。每年可减少排放二氧化碳等气体50%。</p>
                             <ul>
                                <li><a href="__INDEX__/Index/anti"><i class="fa fa-phone"></i></a></li>
                                <li><a href="__INDEX__/Index/anti"><i class="fa fa-wechat"></i></a></li>
                                <li><a href="__INDEX__/Index/anti"><i class="fa fa-qq"></i></a></li>
                                <li><a href="__INDEX__/Index/anti"><i class="fa fa-weibo"></i></a></li>
                            </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget link_widget">
                        <div class="f_title">
                            <h3>关于我们</h3>
                        </div>
                        <ul>
                            <li><a href="__INDEX__/Index/anti">公司简介</a></li>
                            <li><a href="__INDEX__/Index/anti">公司发展</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget service_widget">
                        <div class="f_title">
                            <h3>客户服务</h3>
                        </div>
                        <ul>
                            <li><a href="__INDEX__/Index/anti">运费查询</a></li>
                            <li><a href="__INDEX__/Index/anti">自助服务</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget service_widget">
                        <div class="f_title">
                            <h3>产品服务</h3>
                        </div>
                        <ul>
                            <li><a href="__INDEX__/Index/anti">快递服务</a></li>
                            <li><a href="__INDEX__/Index/anti">仓配一体化</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy_right">
        <div class="container">
            <h4>Copyright &copy; 2018.Dre@mtech Studio All rights reserved.</h4>
        </div>
    </div>

    <script type="text/html" id="loginTp">
        <div id="login">
            <form class="layui-form" action="#" method="post" style="padding: 15px 20px 0 0;">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码:</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" required placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 15px;">
                    <div class="layui-input-block">
                        <button id="layui-login" class="layui-btn layui-btn-normal" required lay-submit lay-filter="login">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/html" id="regisTp">
        <div id="regis">
            <form class="layui-form " method="post" action="#" style="padding: 15px 20px 0 0;">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码:</label>
                    <div class="layui-input-block">
                        <input type="password" name="pw1" required placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码:</label>
                    <div class="layui-input-block">
                        <input type="password" name="pw2" required placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 15px;">
                    <div class="layui-input-block">
                        <button id="layui-regis" class="layui-btn layui-btn-normal" lay-submit lay-filter="regis">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

</footer>